.tab-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}
/* Carousel styles */
.carousel-container {
    overflow: hidden;
    width: 100%;
    margin-top: 2rem;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 300px; /* Set the width of each item */
}


.carousel-next {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;

}
.glide__slides {
    display: flex;
    justify-content: flex-start;
}

.glide__slide {
    width: 20%;
    margin: 0 5%;
}
.glide__slides {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.glide__arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.glide__arrow {
    background-color: rgba(0, 0, 0, 0.1); /* Grey background color */
    color: #333;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%; /* Circle shape */
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.glide__slides {
    display: flex;
    justify-content: center;
}

.glide__slide {
    flex: 0 0 auto;
    margin: 0 10px; /* Add space between slides */
   max-width: 200px; /* Set maximum width for images */
    text-align: center; /* Center the content inside each slide */
}


@media (max-width: 767.98px) {
    .glide__slide {
        width: 50%;
        margin: 0 25%;
    }
}

@media (max-width: 575.98px) {
    .glide__slide {
        width: 100%;
        margin: 0;
    }
}
*/
.glide__track {
    display: flex;
    justify-content: center;
}





.glide__bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
}

.glide__bullet--active {
    background-color: #333;
}
.glide__bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (min-width: 640px) {
    /* Hide mobile menu toggle and mobile menu on larger screens */
    #mobile-menu-toggle, #mobile-menu {
        display: none;
    }
}



